/* CSS used here will be applied after bootstrap.css */
body {
  width: 100%;
  background: url("websidefiler/bakgrunn team23.png");
  background-size: 100%;
  margin-top: 15%;
}

.affix-top {
    /* navbar style at top */
    background: transparent;
    border-color: transparent;
    width: 100%;
}

.navbar-nav
{
    width: 80%;
    margin-right: 10%;
    margin-left: 10%;
}


.olavimg
{
    height: auto;
    width: 4%;
    position: fixed;
}

.navbar-button {
    width: 100%;
}

.button {
    background-color: #13572F;
    border: none;
    color: #ffffff;
    width: 100%;
    height: 3em;
    text-decoration: none;
    float: right;
    font-size: 120%;
  }

#controls {
    background-color: #2FD474;
    color:#23272a;
}

.container {
    width:80%;
    height:100%;
    margin-left: 10%;
}

.row {
  text-align: center;
}

#ourMap {
    float: left;
    max-width: 100%;
    display: block;
    width: 100%;
}

.gameInfo {

}

#left-column {
    float:left;
    max-width: 40%;
    width: 40%;
}

#middle-column {
    float: left;
    width: auto;
}

#right-column {
    width: auto;
    float: left;
}

.Score {
    background-color: black;
    color: white;
    width: 100%;
    padding: 2%;
    float: left;
}

.myScore {
    height: 10%;
    width: 40%;
    float: left;
}

.timer {
    float: left;
    width: 30%;
}

.resetButton {
  background-color: #0E4023;
  border: none;
  color: #ffffff;
  text-decoration: none;
    width: 30%;
    float: right;
}

.resetButton:hover {
    background-color:#2FD474;
    color:black;
}