/* CSS used here will be applied after bootstrap.css */
body {
  width: 100%;
  background: url("websidefiler/bakgrunn team23.png");
  background-size: 100%;
  padding-top: 10%;
  overflow-y:hidden;
  overflow-x: hidden;

}

.affix-top {
  /* navbar style at top */
  background: transparent;
  border-color: transparent;
  padding: 1.5%;
}

.second {
  background-color:#040E08;
  text-align: center;
}

#linkButtons {
  width:100%;
}

.row {
  text-align:center;
  padding-left: 5%;
}
.gameInfo {
  float: left;
  display:inline-block;
  margin-left: auto;
  margin-right: auto;
  padding-left: 5%;
}
.button {
    background-color: #13572F;
    border: none;
    color: #ffffff;
    width:80%;
    height:60px;
    margin-top:30%;
    text-decoration: none;
    float: left;
    margin-left: 0%;
    font-size: 120%;
  }
#controls {
background-color: #2FD474;
color:#23272a;
}
.resetButton {
  background-color: #0E4023;
  border: none;
  color: #ffffff;
  padding: 10% 20%;
  text-decoration: none;
  font-size: 120%;
}
.resetButton:hover {
  background-color:#2FD474;
  color:black;
}
.Score {
  padding-top: 10%;
  float:left;
  color:white;
  width:10%;
  font-size: 75%;
}
.myScore {
    font-size:200%;
}
.timer {
  font-size: 200%;
}
.container {
  width:100%;
  height:100%;
}
#left-column {
float:left;
width:35%;
height:100%
}
#ourMap {
  /* height:100%;
  width:100%; */
}
#middle-column {
float:left;
width:35%;
height:100%;
padding-left: 5%;
}
#howto {
  height:100%;
  width:100%;
}
#right-column {
float:left;
width:15%
}
